:root {
  --main-clr: #5afecb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 200ms;
}

body {
  background: linear-gradient(145deg, #22343f, #0d1417);
}

#app {
  /* font family */
  height: 100vh;
  width: 100%;
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}

ul {
  margin-bottom: 0;
  padding: 25px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  padding: 0 30px;
}

.nav-link {
  color: whitesmoke;
  text-shadow: 0 0px 1px whitesmoke;
}

@keyframes arrow-move {
  0% {
    left: 0;
  }

  50% {
    left: 15px;
  }

  100% {
    left: 0;
  }
}

@media screen and (max-width: 915px) {
  :root {
    scrollbar-color: var(--main-clr) #0d1417;
    overflow-y: scroll;
  }

  #app {
    height: 100%;
  }
}

.menu-btn {
  display: none;
  background-color: inherit;
  margin: 30px;
  font-size: 2em;
  color: whitesmoke;
  border-style: none;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    left: 100%;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes fade-out-right {
  from {
    opacity: 1;
    left: 0;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

@media screen and (max-width: 732px) {
  nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .menu-btn {
    display: inline-block;
    position: fixed;
  }

  ul {
    display: none;
    position: fixed;
    left: 100%;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    background: linear-gradient(145deg, #22343f, #0d1417);
    left: 0;
    animation-name: fade-in-right;
    animation-duration: 250ms;
    animation-timing-function: ease;
  }

  .nav-item {
    text-align: start;
    padding: 10px 5px;
    margin-left: 40px;
    border-radius: 5px;
  }

  .nav-link {
    font-size: 1.3em;
    display: inline;
  }

  .nav-item:hover {
    background-color: #22343f;
  }

  .fade-out-right {
    animation-name: fade-out-right;
    animation-duration: 250ms;
    animation-timing-function: ease;
  }
}